In [161]:
import pymongo 
from pymongo import MongoClient

## CONEXÃO
#### Tutorial pymongo: https://docs.mongodb.com/drivers/pymongo/

In [162]:
#conecta ao cluster
#shell: mongosh "mongodb+srv://cluster0.ik0ua.mongodb.net/empresa" --username <usuario>
client = pymongo.MongoClient("mongodb+srv://<usuario>:<senha>@cluster0.ik0ua.mongodb.net")

In [163]:
# lista todos os databases
# shell: show dbs / show databases
client.list_database_names()

['empresa',
 'sample_airbnb',
 'sample_analytics',
 'sample_geospatial',
 'sample_mflix',
 'sample_restaurants',
 'sample_supplies',
 'sample_training',
 'sample_weatherdata',
 'test',
 'admin',
 'local']

In [164]:
#atribui para bd o database empresa
# shell: use empresa
#db = client["empresa"]
db = client.empresa

In [165]:
#lista as colections do database empresa
# shell: show collections
db.list_collection_names()

['departamentos']

## COLLECTION: INSERÇÃO

In [166]:
# insere um novo documento
# shell: db.funcionarios.insertOne(...)
db.funcionarios.drop()
db.funcionarios.insert_one(
    {"nome": "James E. Borg","cpf": "888665555","endereco": "450 Stone, Houston, TX","sexo": "M","salario": 55000,"dnumero":1})

In [167]:
#insere vários documentos
#shell: db.funcionarios.insertMany(...)
funcionarios_list = [{
    "nome": "Jennifer S. Wallace","cpf": "987654321","endereco": "291 Berry, Bellaire, TX","sexo": "F","salario": 43000,"dnumero":4},
  { "nome": "Franklin T. Wong","cpf": "333445555","endereco": "638 Voss, Housto, TX","sexo": "M","salario": 40000,
    "dependentes": [
      {"nome": "Alice","sexo": "F","datanasc": "05/04/1986","parentesco": "FILHA"},
      {"nome": "Theodore", "sexo": "M", "datanasc": "25/10/1983", "parentesco": "FILHO"},
      {"nome": "Joy","sexo": "F", "datanasc": "03/05/1958", "parentesco": "CONJUJE"}],
    "dnumero":5}]

db.funcionarios.insert_many(funcionarios_list)

## COLLECTION: CONSULTA

In [168]:
#conta a quantidade de documentos de uma coleção
#shell: db.funcionarios.count()
db.funcionarios.count_documents({})

3

In [169]:
#lista todos os documentos de uma collection
#shell: db.funcionarios.find()
for func in db.funcionarios.find():
    print(func)

{'_id': ObjectId('61114876c6f523f932ed62ef'), 'nome': 'James E. Borg', 'cpf': '888665555', 'endereco': '450 Stone, Houston, TX', 'sexo': 'M', 'salario': 55000, 'dnumero': 1}
{'_id': ObjectId('61114876c6f523f932ed62f0'), 'nome': 'Jennifer S. Wallace', 'cpf': '987654321', 'endereco': '291 Berry, Bellaire, TX', 'sexo': 'F', 'salario': 43000, 'dnumero': 4}
{'_id': ObjectId('61114876c6f523f932ed62f1'), 'nome': 'Franklin T. Wong', 'cpf': '333445555', 'endereco': '638 Voss, Housto, TX', 'sexo': 'M', 'salario': 40000, 'dependentes': [{'nome': 'Alice', 'sexo': 'F', 'datanasc': '05/04/1986', 'parentesco': 'FILHA'}, {'nome': 'Theodore', 'sexo': 'M', 'datanasc': '25/10/1983', 'parentesco': 'FILHO'}, {'nome': 'Joy', 'sexo': 'F', 'datanasc': '03/05/1958', 'parentesco': 'CONJUJE'}], 'dnumero': 5}

### OPERAÇÃO DE PROJEÇÃO

In [170]:
#operação de projeção - inclui atributos - nome, endereco e datanasc
#shell: db.funcionarios.find({},{"nome":1, "endereco":1, "datanasc":1, "_id":0})
for func in db.funcionarios.find({},{"nome":1, "endereco":1, "datanasc":1, "_id":0}):
    print(func)

{'nome': 'James E. Borg', 'endereco': '450 Stone, Houston, TX'}
{'nome': 'Jennifer S. Wallace', 'endereco': '291 Berry, Bellaire, TX'}
{'nome': 'Franklin T. Wong', 'endereco': '638 Voss, Housto, TX'}

In [171]:
#operacao de projeção - exclusão de atributos - salario, sexo, dependentes
#shell: db.funcionarios.find({},{"salario":0, "sexo":0, "dependentes":0})
for func in db.funcionarios.find({},{"salario":0, "sexo":0, "dependentes":0}):
    print(func)

{'_id': ObjectId('61114876c6f523f932ed62ef'), 'nome': 'James E. Borg', 'cpf': '888665555', 'endereco': '450 Stone, Houston, TX', 'dnumero': 1}
{'_id': ObjectId('61114876c6f523f932ed62f0'), 'nome': 'Jennifer S. Wallace', 'cpf': '987654321', 'endereco': '291 Berry, Bellaire, TX', 'dnumero': 4}
{'_id': ObjectId('61114876c6f523f932ed62f1'), 'nome': 'Franklin T. Wong', 'cpf': '333445555', 'endereco': '638 Voss, Housto, TX', 'dnumero': 5}

### OPERAÇÃO DE SELEÇÃO

In [172]:
# Recupera o nome o endereco dos funcionário que possuem cpf=888665555
#shell: db.funcionarios.find({"cpf":"888665555"},{"nome":1, "endereco":1, "_id":0})
for func in db.funcionarios.find({"cpf":"888665555"},{"nome":1, "endereco":1, "_id":0}):
    print(func)

{'nome': 'James E. Borg', 'endereco': '450 Stone, Houston, TX'}

### REGEX (LIKE) - EXPRESSÕES REGULARES

In [173]:
# Recupera o nome o endereco dos funcionário cujo nome começa com J (insensitive)
for func in db.funcionarios.find({"nome":{"$regex":"j.*", "$options":"i"}},{"nome":1, "endereco":1, "_id":0}):
    print(func)

{'nome': 'James E. Borg', 'endereco': '450 Stone, Houston, TX'}
{'nome': 'Jennifer S. Wallace', 'endereco': '291 Berry, Bellaire, TX'}

### LIMIT - CONSULTA COM ESPECIFICAÇÃO DO NÚMERO DE LINHAS QUE DEVE RETORNAR

In [174]:
#lista os n primeiros registros passados como parâmetro de limit
#shell: db.funcionarios.find().limit(2)
for func in db.funcionarios.find().limit(2):
    print(func)

{'_id': ObjectId('61114876c6f523f932ed62ef'), 'nome': 'James E. Borg', 'cpf': '888665555', 'endereco': '450 Stone, Houston, TX', 'sexo': 'M', 'salario': 55000, 'dnumero': 1}
{'_id': ObjectId('61114876c6f523f932ed62f0'), 'nome': 'Jennifer S. Wallace', 'cpf': '987654321', 'endereco': '291 Berry, Bellaire, TX', 'sexo': 'F', 'salario': 43000, 'dnumero': 4}

### SORT - CONSULTA COM ORDENAÇÃO

In [175]:
# Recupera o nome e o salario dos funcionários em orderm crescente de salário e decrescente de nome
# shell: db.funcionarios.find().sort({"salario":1, "nome":-1})
for func in db.funcionarios.find({},{"nome":1, "salario":1, "_id":0}).sort([("salario",1),("nome",-1)]):
    print(func)

{'nome': 'Franklin T. Wong', 'salario': 40000}
{'nome': 'Jennifer S. Wallace', 'salario': 43000}
{'nome': 'James E. Borg', 'salario': 55000}

### SUBDOCUMENTOS - CONSULTAS EM SUBDOCUMENTOS

### AGREGAÇÕES

LOOKUP - JUNÇÃO

In [176]:
db.departamentos.drop()
result = db.departamentos.insert_many([{"_id":1, "nome":"Sede_administrativa"}, {"_id":4, "nome":"Administracao" }, {"_id":5, "nome":"Computacao"}])
print(result.inserted_ids)

[1, 5]

In [177]:
#db.funcionarios.aggregate([{$lookup:{from:"departamento",localField:"departamento", foreignField:"_id", as:"departamento"}}])
for func in db.funcionarios.aggregate([{"$lookup":{"from":"departamento","localField":"departamento", "foreignField":"_id", "as":"departamento"}}]):
    print(func)

{'_id': ObjectId('61114876c6f523f932ed62ef'), 'nome': 'James E. Borg', 'cpf': '888665555', 'endereco': '450 Stone, Houston, TX', 'sexo': 'M', 'salario': 55000, 'dnumero': 1, 'departamento': []}
{'_id': ObjectId('61114876c6f523f932ed62f0'), 'nome': 'Jennifer S. Wallace', 'cpf': '987654321', 'endereco': '291 Berry, Bellaire, TX', 'sexo': 'F', 'salario': 43000, 'dnumero': 4, 'departamento': []}
{'_id': ObjectId('61114876c6f523f932ed62f1'), 'nome': 'Franklin T. Wong', 'cpf': '333445555', 'endereco': '638 Voss, Housto, TX', 'sexo': 'M', 'salario': 40000, 'dependentes': [{'nome': 'Alice', 'sexo': 'F', 'datanasc': '05/04/1986', 'parentesco': 'FILHA'}, {'nome': 'Theodore', 'sexo': 'M', 'datanasc': '25/10/1983', 'parentesco': 'FILHO'}, {'nome': 'Joy', 'sexo': 'F', 'datanasc': '03/05/1958', 'parentesco': 'CONJUJE'}], 'dnumero': 5, 'departamento': []}

## COLLECTION: ATUALIZAÇÃO

In [178]:
# Função que imprime o nome e o salario dos funcionários
def imprime_funcionarios():
    print("------------------------")
    for func in db.funcionarios.find({},{"nome":1, "salario":1,"dnumero":1, "_id":0}).sort([("salario",1),("nome",-1)]):
        print(func)
    print("------------------------")

In [179]:
# filtro da atualização
filter = {"salario":{"$gte":41000}}

# valores a serem alterados
newvalue = {"$set":{"departamento":5}}

imprime_funcionarios()

# atualização de documento
result = db.funcionarios.update_many(filter, newvalue)
print(result.modified_count, "quantidade de documentos atualizados")
imprime_funcionarios()

------------------------
{'nome': 'Franklin T. Wong', 'salario': 40000, 'dnumero': 5}
{'nome': 'Jennifer S. Wallace', 'salario': 43000, 'dnumero': 4}
{'nome': 'James E. Borg', 'salario': 55000, 'dnumero': 1}
------------------------
2 quantidade de documentos atualizados
------------------------
{'nome': 'Franklin T. Wong', 'salario': 40000, 'dnumero': 5}
{'nome': 'Jennifer S. Wallace', 'salario': 43000, 'dnumero': 4}
{'nome': 'James E. Borg', 'salario': 55000, 'dnumero': 1}
------------------------

## COLLECTION: REMOÇÃO

In [180]:
# Remove a collection funcionarios
#shell: db.funcionarios.drop()
#db.drop_collection("funcionarios")